h1 {color: brown;
    text-align: center;
}

h2 {color: blue;
    text-align: right;
}

h3 {color: rgb(208, 255, 0);
    border-color: darkred;
    border-style: solid;
    border-width: 10px;
}

#parte01 {background-color: forestgreen;
}

#parte02 {background-color: orange;
}